{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

 body{
        background-color: #F9F9F9;
        background-image: url("{%   static 'images/iqog.png' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom;
    }
    form{
        padding: 10px;
        margin: 10px;
    }

    h1{
        font-size: 60px;
        margin-left: 100px;
        color: darkgreen;

    }
    form{

    }
    p{
        color: darkgreen;
    }

</style>
</head>
<body background="{%   static 'images/iqog.png' %}" >
<h1>Sign Up  </h1>
<div class="container">

<div class="row">
   <div class="col-md-5">
<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <center>
    <input type="submit" value="submit"  class="btn btn-success">
    <input type="reset" value="reset"  class="btn btn-danger">
        </center>
</form>
</div>
</div>
</div>
</body>
</html>